.login-page {
    width: 40%;
    margin: auto;
  }
  
  .form {
    position: relative;
    z-index: 1;
    max-width: 70%;
    margin: 0 auto 10%;
    padding: 10%;
    text-align: center;
  }
  a:link, a:visited {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  